@model WebThiThuBangLaiOnline.Models.Entity.Menu
@{
    ViewBag.Title = "Thêm mới danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section navheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/category/index" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/menu/index" class="nav-link">Quản lí danh mục</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Thêm Menu</a>
        </li>
    </ul>
}
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Thêm mới danh mục</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    @using (Html.BeginForm("AddMenu", "Menu", FormMethod.Post, new { }))
    {
        <div class="card-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-group">
                <label for="exampleInputEmail1">ID Menu</label>
                @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @placeholder = "VD: 123" })
                @Html.ValidationMessageFor(x => x.ID, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Tiêu đề Menu</label>
                @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "VD: Trang chủ" })
                @Html.ValidationMessageFor(x => x.Title, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Thứ tự Menu</label>
                @Html.TextBoxFor(x => x.Position, new { @class = "form-control", @placeholder = "VD: 1" })
                @Html.ValidationMessageFor(x => x.Position, null, new { @class = "text-danger" })
            </div>
            <!-- /.card-body -->
        </div>
        <div class="card-footer">
            <a href="/admin/menu/index" class="btn btn-danger">Quay lại</a>
            <button type="submit" class="btn btn-primary">Lưu</button>
        </div>
    }

    </div>

